/* this is a comment */

body {
    background-image: url(img/night.gif);
    height: 10000px;
    width: 30000px;
}

#trees {
    /* #name - reference for id*/
    position: fixed;
    width: 1450px;
    height: 784px;
}

#moon-cir {
    fill: rgb(220, 223, 203);
}

#mars-cir {
    fill: rgb(204, 51, 0);
    animation-name: glow;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes glow {
    0% {
        fill: rgb(204, 51, 0);
    }
    50% {
        fill: rgb(220, 30, 1);
    }
    75% {
        fill: rgb(91, 16, 5);
    }
}

#moon-svg {
    position: absolute;
    top: 300px;
    left: 700px;
    z-index: -1;
}

#mars-svg {
    position: absolute;
    top: 600px;
    left: 1200px;
    z-index: +5;
}

#comet {
    position: absolute;
    top: 0px;
    left: 1450px;
    z-index: -2;
    animation-name: fly;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

@keyframes fly {
    from {
        top: 0px;
        left: 1450px;
    }
    to {
        top: 784px;
        left: 0px;
        opacity: 0;
    }
}

#wiki {
    position: absolute;
    top: 600px;
    left: 1400px;
    height: 300px;
    width: 500px;
    z-index: -1;
    opacity: 0;
}

#container:hover #wiki {
    opacity: 1;
}